@media only screen and (max-width: 768px) {
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #quiz-questions {
        flex-direction: column;
      }
      .grade-styling {
        display: flex;
        font-family: "Comic Sans MS", Tahoma, sans-serif;
        font-weight: 800;
        margin: 0 40px 0 20px;
        justify-content: center;
      }
      .try-again-btn {
        width: 140px;
        height: 35px;
        box-shadow: 3px 3px 3px black;
        border-radius: 8%;
        background-color: rgb(0,71,171);
        color: white;
        font-family: "Comic Sans MS";
        font-size: 15px;
        font-weight: 600;
        margin-top: 10px;
    }
    
    .problem-styling {
        font-family: "Comic Sans MS", Tahoma, sans-serif;
        display: flex;
        align-items: center;
        margin: 5px 5px 5px 5px;
        padding: 5px 0 5px 5px;
        border: 2px solid grey;
        width: 290px;
    }
    .input-styling {
        font-family: "Comic Sans MS", Tahoma, sans-serif;
    }
    #title-and-grade-div {
        margin-bottom: 10px;
    }
    .success-img {
        width: 25px;
        height: 25px;
    }
    .incorrect-img {
        width: 35px;
        height: 35px;
    }
    .check-answer-btn {
        margin: 0 10px 0 30px;
        height: 35px;
        box-shadow: 3px 3px 3px black;
        border-radius: 8%;
        background-color: yellow;
        font-family: "Comic Sans MS";
        font-size: 15px;
        font-weight: 600;
    }
    .title {
        font-family: "Comic Sans MS", Tahoma, sans-serif;
        background-image: 
        linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;  
      animation: move 300s linear infinite;
    }
    @keyframes move {
        to {
            background-position: 4500vh;
        }
    }
    
    input[type='text'] {
        width: 20px;
        height: 20px;
        margin-left: 5px;
        text-align: center;
        font-size: 15px;
        -moz-appearance:textfield;
    }
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}
@media only screen and (max-width: 1339px) {
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #quiz-questions {
        flex-direction: column;
      }
      .grade-styling {
        display: flex;
        font-family: "Comic Sans MS", Tahoma, sans-serif;
        font-weight: 800;
        margin: 0 40px 0 20px;
        justify-content: center;
      }
      .try-again-btn {
        width: 140px;
        height: 35px;
        box-shadow: 3px 3px 3px black;
        border-radius: 8%;
        background-color: rgb(0,71,171);
        color: white;
        font-family: "Comic Sans MS";
        font-size: 15px;
        font-weight: 600;
        margin-top: 10px;
    }
    
    .problem-styling {
        font-family: "Comic Sans MS", Tahoma, sans-serif;
        display: flex;
        align-items: center;
        margin: 5px 5px 5px 5px;
        padding: 5px 0 5px 5px;
        border: 2px solid grey;
        width: 290px;
    }
    .input-styling {
        font-family: "Comic Sans MS", Tahoma, sans-serif;
    }
    #title-and-grade-div {
        margin-bottom: 10px;
    }
    .success-img {
        width: 25px;
        height: 25px;
    }
    .incorrect-img {
        width: 35px;
        height: 35px;
    }
    .check-answer-btn {
        margin: 0 10px 0 30px;
        height: 35px;
        box-shadow: 3px 3px 3px black;
        border-radius: 8%;
        background-color: yellow;
        font-family: "Comic Sans MS";
        font-size: 15px;
        font-weight: 600;
    }
    .title {
        font-family: "Comic Sans MS", Tahoma, sans-serif;
        background-image: 
        linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;  
      animation: move 300s linear infinite;
    }
    @keyframes move {
        to {
            background-position: 4500vh;
        }
    }
    
    input[type='text'] {
        width: 20px;
        height: 20px;
        margin-left: 5px;
        text-align: center;
        font-size: 15px;
        -moz-appearance:textfield;
    }
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}
@media only screen and (min-width: 1440px) {
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #quiz-questions {
    display: flex;
  }
  .try-again-btn {
    width: 140px;
    height: 35px;
    box-shadow: 3px 3px 3px black;
    border-radius: 8%;
    background-color: rgb(0,71,171);
    color: white;
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
  }

  .problem-styling {
    font-family: "Comic Sans MS", Tahoma, sans-serif;
    display: flex;
    align-items: center;
    margin: 5px 5px 5px 5px;
    padding: 5px 0 5px 5px;
    border: 2px solid grey;
    width: 290px;
  }
  .grade-styling {
    display: flex;
    font-family: "Comic Sans MS", Tahoma, sans-serif;
    font-weight: 800;
    margin: 0 40px 0 20px;
    justify-content: center;
  }
  .input-styling {
    font-family: "Comic Sans MS", Tahoma, sans-serif;
  }
  #title-and-grade-div {
    margin-bottom: 10px;
  }
  .success-img {
    width: 25px;
    height: 25px;
  }
  .incorrect-img {
    width: 35px;
    height: 35px;
  }
  .check-answer-btn {
    margin: 0 10px 0 30px;
    height: 35px;
    box-shadow: 3px 3px 3px black;
    border-radius: 8%;
    background-color: yellow;
    font-family: "Comic Sans MS";
    font-size: 15px;
    font-weight: 600;
  }
  .title {
    font-family: "Comic Sans MS", Tahoma, sans-serif;
    background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: move 300s linear infinite;
  }
  @keyframes move {
	to {
		background-position: 4500vh;
	}
  }

  input[type='text'] {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    text-align: center;
    font-size: 15px;
    -moz-appearance:textfield;
  }
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}